*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
}

.contents{
    width: 1280px;
    height: 720px;
    margin: 0 auto;
    background-color: rgb(50,50,50);
    display: flex;
}