*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
}

.contents{
    width: 1280px;
    height: 720px;
    margin: 0 auto;
    background-color: rgb(50,50,50);
    display: flex;
}

.contents .titleBox{
    width: 280px;
    height: 100%;
    border-right: 2px solid white;
    display: flex;
    flex-direction: column;
    color: #FFF;
}

.contents .titleBox .titleUpBox{
    flex: 1;
    display: flex;
    font-style: italic;           
    font-weight: bold;            
    font-size: 30pt;              
    line-height: 50px;            
    font-family: "Times New Roman", sans-serif;
    justify-content: center;
    align-items: center;
}

.contents .titleBox .titleDownBox{
    flex: 1;
    display: flex;
    font-style: normal;           
    font-size: 10pt;              
    font-family: "Verdana", sans-serif;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
}

.contents .contentsBox{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.contents .contentsBox .navBox{
    display: flex;
    justify-content: flex-end; 
    align-items: flex-end;
    width: 100%;
    height: 120px;
    border-bottom: 2px solid white;
}

.contents .contentsBox .navBox img{
    width: 30px;
    height: 30px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.contents .contentsBox .sectionBox{
    background-color: red;
    display: flex;
    width: 100%;
    height: 600px;
}

.contents .contentsBox .sectionBox .article{
    width: 250px;
    height: 100%;
    opacity: 0.4;
    
}

